/* PANTALLA COMPLETA CENTRADA */
body{
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* RECUADRO GRIS (IGUAL QUE HOME) */
.container{
    max-width: 320px;
    width: 100%;
    padding: 45px;
    background: #f8f8f8;
    border-radius: 12px;
    box-shadow: 0 10px 30px #0000001a;
    animation: fadeIn 1.5s ease-in-out;
    text-align: center;
    position: relative;
}

/* FLECHA DENTRO DEL RECUADRO */
.top-icons{
    position: absolute;
    top: 10px;
    left: 10px;
}

.icon-btn{
    font-size: 22px;
    cursor: pointer;
    font-weight: bold;
    color: black;
}

/* TÍTULOS */
h1{
    font-size: 26px;
    margin-top: 2px;
    margin-bottom: 10px;
    font-weight: bold;
}

h2{
    font-size: 16px;
    margin-bottom: 25px;
    font-weight: 600;
    color: #555;
}

/* LISTA DE RECOMENDACIONES */
.lista{
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 25px;
}

/* TARJETA DE RECOMENDACIÓN (IGUAL QUE HISTORIAL) */
.reco{
    width: 90%;
    margin: 0 auto;
    background: #e6e6e6;
    border-radius: 30px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.reco:hover{
    background: #dcdcdc;
    transform: translateY(-2px);
}

.precio{
    font-weight: bold;
}

/* BOTÓN INICIO */
.btn-negro{
    width: 100%;
    background: black;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    transition: all 0.3s ease;
}

.btn-negro:hover{
    background: #333;
    transform: translateY(-2px);
}

/* ANIMACIÓN */
@keyframes fadeIn{
    0%{ opacity: 0; transform: scale(0.9); }
    100%{ opacity: 1; transform: scale(1); }
}

